/*TODO: Add a background color or image to your website*/
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-size: 100%;
  text-align: center;
}

#quiz-home {
  background-color: #d9ead3ff;
}

h1 {
  color: #80ced6;
  font-family: Courier New;
  font-weight: bold;
  font-size: 3.5em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
}

button {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  border: none;
  background: gray;
  padding: 1em;
}
